@model TruckLoadinApp.Models.Account.ApplicationUser﻿;

@{
    ViewData["Title"] = $"{(Model?.Id == 0 ? "New" : "Edit")} User";
}


<div class="margin-bottom-10 row">

    <div class="col-sm-12"><a asp-action="Index" class="btn btn-info"><i class="glyphicon glyphicon-backward"></i> Back to List</a></div>
</div>



@if (!string.IsNullOrEmpty(Model?.ErrorMessage))
{
    <div class=" col-sm-6 no-padding">
        <div class="alert alert-danger alert-dismissible">
            <b>Error</b>
            <div class="row">
                <div class="col-sm-9">
                    @Model.ErrorMessage
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
}
<form asp-action="Create" id="createForm">

    <div class="row motherDiv">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 innerDiv">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <center><h4>@ViewData["Title"]</h4></center>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(m => m.Id)


                   

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label required">Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label "></label>
                        <input asp-for="LastName" class="form-control" maxlength="255"></input>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label "></label>
                        <input asp-for="Email" class="form-control" maxlength="255"></input>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>


                </div>
                <div class="col-sm-3"></div>
            </div>
            <div class="row margin-top-10">
                <div class="col-sm-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>

    </div>
</form>

<div class="clearfix"></div>

<form id="redirect-form-1" method="get" asp-action="Index">
    <input type="hidden" name="SuccessMessage" class="success-message" />
</form>

<form id="redirect-form-2" method="get" asp-action="Details" asp-controller="Account" asp-route-id="0">
    <input type="hidden" name="SuccessMessage" class="success-message" />
</form>

<form id="redirect-form-3" method="get" asp-action="Details" asp-controller="Account" asp-route-id="0">
    <input type="hidden" name="SuccessMessage" class="success-message" />
</form>

@section Scripts {
    <script>
        // Function to confirm before submitting the form
        function confirmSave(event) {
            event.preventDefault(); // Prevent form submission
            if (confirm("Are you sure you want to save the data?")) {
                document.getElementById("createForm").submit(); // Submit the form
            }
        }

        // Attach event listener to the form submission
        document.getElementById("createForm").addEventListener("submit", confirmSave);
    </script>
}