@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <header class="header">
        <div class="header__container">
            <h3>Ndejje Mentorship Class</h3>
            <h1>Database Modelling in ASP.NET Core</h1>
        </div>
    </header>

    @* <section class="section">
        <div class="container">
            <div class="heading">
                <h2>Quality Designs</h2>
            </div>
            <div class="paragraphs">
                <h2>
                    Ndejje Mentorship Class
                </h2>
                <p>
                    Welcome
                </p>
            </div>
        </div>
    </section> *@

</div>
